.about-text {
    padding-left: 70px;
}
.secondTierLeft {
    padding-left: 190px;
}
.secondTierRight {
    padding-right: 185px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
@media (max-width: 1199px) {
    .about-text {
        padding-left: 100px;
    }
}
@media (max-width: 991px) {
    .secondTierLeft {
        padding-left: 125px;
    }
    .secondTierRight {
        padding-right: 115px;
    }
    .about-text {
        padding-left: 140px;
    }
}
@media (max-width: 767px) {
    .secondTierLeft {
        padding-left: 0;
    }
    .secondTierRight {
        padding-right: 0;
    }
    .about-text {
        padding-left: 16px;
    }
    .aboutPic {
        padding-bottom: 25px;
    }
}